body{
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Croissant One', cursive;
    margin: 0px;
}
.head-section{
    display: flex;
}
.half-width{
    width: 50%;
    margin: 5%;
}
.img-header{
    width: 100%;
}
.head-1{
    font-size: 65px;
    color: rgb(76, 75, 75);
}
.style{
    color: orange;
}
.para-style{
    margin-bottom: 45px;
}
.btn-style{
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 12px;
    border-radius: 25px;
}
#bg-img{
    background-image: url(images/shapes/7.png);
}
.small-part{
    text-align: center;
    margin-bottom: 50px;
}
.cart-section{
    display: flex;
    margin-bottom: 60px;
}
.cart-1{
    margin: 0px 6.25%;
    padding: 10px 10px 20px 10px;
    border-left: 7px solid blue;
    border-radius: 25px;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.cart-img{
    width: 100%;
    border-radius: 15px;
    
}
.cart-img1{
    padding-left: 55px;
    width: 70%;
    border-radius: 15px;

}
.cart-div{
    text-align: center;
}
.view-part{
    display: flex;
    margin: 160px 10%;
    border-left: 7px solid orange;
    border-top: 7px solid tomato;
    border-radius: 25px;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.view-width{
    margin: 0px 14%;
}
.footer-part{
    background-color: black;
    height: 300px;
}
.style-f{
    color: white;
    text-align: center;
    padding-top: 35px;
}
.style-ff{
    color: white;
    text-align: center;
    padding-top: 90px;
}